body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

html {
  scroll-behavior: smooth;
 
}

.compainies{
	padding: 8px;

}

.content {
  background-color: lightgrey;
  padding: 10px;
  margin-top: 5px;
}

.work_exp{
	 background-color: lightgrey;
  padding: 10px;
  margin-top: 5px;
  height: 200px;
}

#expenrience{
	background-color: #c3bdbd;
}

#education{
	background-color: wheat;
	padding-top: 5px;
}
.education{
	height: 350px;
}

.experience_section{

  padding: 10px;
  margin-top: 5px;

}

.education_section{

  padding: 10px;
  margin-top: 5px;
  

}

.education{
	 background-color: lightgrey;
  padding: 10px;
  margin-top: 5px;
}

.footer{
	background-color: rgba(0,0,0,0.7);
	
}
#hobbies{
	
background-color: #ece0e0;
}
.hobbie_container{

	background-color: lightgrey;
	border:2px solid white;
	
}
.hobbie_section{

margin-left: auto;
    margin-right: auto;
     display: block;

}

img.hobbie_img {
	padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

 .achievements_container{
 	background-color: lightgrey;
 }
 ul li{
 	margin-top: 10px;
 }
 img.edu_img {
margin-left: auto;
    margin-right: auto;
    display: block;

 }


 .progress-bar.progress-bar-striped.active.progress-bar-warning.ajaxmywarning {
    background: brown;
}


.progress-bar.progress-bar-striped.active.progress-bar-default.phpmywarning {
	    background: burlywood;
	        animation: progress-bar-stripes 2s linear infinite;
	            -webkit-animation: progress-bar-stripes 2s linear infinite;
}

.myfooter{
	
	margin-top: 20px;
	text-align: center;
	font-size: 20px;

}

.myfooter span{
	
	color: white;
	padding-left: 5px;
	
}

.navbar-inverse {
    background-color: #4b526d;
    border-color: #080808;
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: #f1e6e6;
}


.profile_img{

height: 100%;	
}


#home:befor{

	background-color: rgba(0,0,0,0.7);
	content: '';
}

#home{
	background-image: url('../img/youtube.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
}

#skill_container{
	
	height: 250px;
	padding: 10px;
	background-color: cornsilk;

	
}

#projects{

}

#project_container{

	
}

/* ================================MEDIA QURIES ============================================  */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
      div#skills {
    height: 485px;
}
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
      div#skills {
    height: 485px;
}
    }

    @media only screen and (min-device-width: 400px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
      div#skills {
    height: 485px;
}
    }


    @media (max-width: 320px) {
   
}
@media (min-width: 321px) and (max-width: 480px) {
   div#skills {
    height: 479px;
}
}